/* CSS variables  */

:root {
    --text: #000000;
    --darkgreen: rgb(13, 124, 151);
    --color3: #052691;
    --font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --border: 5px;
}

/* soft CSS reset, rather than loading a separate reset.css file */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(222, 248, 226);
    color: var(--color3);
    font: var(--font)
}

h1 {
    text-align: center; 
    font-size: 2.5em;
    
}

h2 {
    text-align: center;
    font-size: 1.2rem; 
}
h3 {
    text-align: center;
    font-size: 1.2rem;

}

/* removes disc styling from unordered lists */
ul {
    list-style-type: none;
}

/* set nav bar so the <ul> displays as a flex box that is evenly spaced */
.nav-bar {
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    margin: auto;
    z-index: 1;
    background-color:var(--darkgreen);
}

.nav-bar li {
    margin: 20px;
    color: var(--color3);
}

/* I chose to use a button class rather than an HTML button becaue nesting an <a> tag inside of a button
 ended up forcing  users who are "tab selecting" their way around the website to stop on both the <button> and the <a>
  This is not only a waste of time for the User but also adds in unnecesary HTML and CSS code*/
.nav-bar_button {
    text-align: center;
    font-size: 1.1em;
    font-weight: 400; 
}
/* this hover highlights the clickable element  with a box shadow, and a cursor change */
.nav-bar_button :hover {
    background-color: rgb(15, 125, 150);
    cursor: grab;
    border-radius: var(--border); 
    box-shadow:  2px 2px 2px #222a
}

/* grab shows its a link, grabbing shows it's being clicked */
.nav-bar_button :active {
    cursor: grabbing;
}

.me {
    width:50%;
    display: block;
    margin: auto;
    outline: none;
    border-radius: 15px;
}

/* position main container to relative so that I can position other aspects of the page */
.container {
    
    position: relative;
    bottom: -7rem;
}

#about-me {
    align-items: center;
    justify-content: center;
    font-family:var(--font);
}

p {
    text-align: center;
    font-size:1.5em;
}

/* creates a container  for the three main sections of the website: 
about me, portfolio, and contact info */
.flexbox-main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1%;
}

.project-portfolio {
    margin-top: 2%;
}

.project-portfolio ul {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

a {
    text-decoration: none;
    color: var(--color3);    
}

.project-portfolio li {
    padding: 10px;
    flex: 0 0 33%;
    text-align: center;
    border-radius: var(--border);
    margin: 2%; 
     
}

.project-portfolio img :hover{
    border-radius: var(--border);
    cursor:grab;
}

.project-portfolio img :active{
    cursor:grabbing;
}

.project-portfolio img {
    width: 50%;
    padding:5px;
    border-radius: var(--border);
    background-color: var(--darkgreen);
}

/* make it obvious that the image is a link with a box-shadow effect */
.project-portfolio a :hover{
   box-shadow:2px 2px 2px 2px var(--darkgreen)
}

.project-portfolio a {
    display: block;
    margin: auto;
    font-size: 1.1rem;
    padding :3px;
}

#feature {
    flex-basis: 52%;
}

footer ul {
    display: flex;
    justify-content: space-around;
}

footer img {
    height: 1.5rem;
}

/* set media query for mobile users so that the images  stack in a column and 
the nav bar is moved to the side for easier thumb access */
@media screen and (max-width:768px) {
    .nav-bar {
        flex-direction: column;
        height: 100%;
        width: 20%;
        justify-content: space-evenly;
        align-items: center;
    }

    .container {
        margin-left: 20%;
    }

    .project-portfolio ul {
        flex-direction: column;
    }

    .project-portfolio li {
        width:65%;
        margin:auto;
    }

    #feature {
        width: 100%;
    }  
}

@media screen and (min-width:769px) {
    .nav-bar_button {
        font-size: 1.8rem;
    }

    /* set the target scroll point so that nav bar doesnt cover corresponding sections */
    .container :target  {
        padding-top: 7rem;  
    } 
}