/* CSS variables  */

:root {
    --text: #000000;
    --darkgreen: rgb(13, 124, 151);
    --color3: #052691;
    --font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --border: 5px;
}   
/* soft CSS reset, rather than loading a separate reset.css file */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    background-color: rgb(222, 248, 226);
    color: var(--color3);
    
}
/* removes disc styling from unordered lists */
ul {
    list-style-type: none;
}
/* set nav bar so the <ul> displays as a flex box that is evenly spaced */
.nav-bar {
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    margin: auto;
    z-index: 1;
    background-color:var(--darkgreen);
}

.nav-bar li {
    margin: 20px;
    color: var(--color3);
}
button {
    background-color: var(--button);
    color: var(--color3);
    border-radius: var(--border);
    border: var(--color3);
    font-family:var(--font);
}

.nav-bar_button {
    text-align: center;
    font-size: 1.5em;
    font-weight: 400; 
}

.nav-bar button :hover {
    background-color: rgb(15, 125, 150);
    color: var(--color3);
    cursor: grab;
    border-radius: var(--border);
    box-shadow:  2px 2px 2px #222a
}
/* grab shows its a link, grabbing shows it's being clicked */
.nav-bar button :active {
    cursor: grabbing;
}

h1{
    text-align: center; 
    font-size: 2.5em;
}

.me {
    width:50%;
    display: block;
    margin: auto;
    outline: none;
    border-radius: 15px;
}

.container {
    /* position main container to relative so that I can position other aspects of the page */
    position: relative;
    bottom: -8rem;
}
#about-me {
    align-items: center;
    justify-content: center;
    font-family:var(--font);
}
p {
    text-align: center;
}

/* creates a container  for the three main sections of the website: 
about me, portfolio, and contact info */
.flexbox-main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1%;
}

.project-portfolio {
    margin-top: 2%;
}
.project-portfolio ul {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}
a {
    text-decoration: none;
    color: var(--color3);
    display:block;
    
}
.project-portfolio li {
    padding: 10px;
    flex: 0 0 33%;
    text-align: center;
    border-radius: var(--border);
    margin: 2%; 
     
}

.project-portfolio li :hover{
    cursor:grab;
}

.project-portfolio li :active{
    cursor:grabbing;
}

.project-portfolio img {
    width: 50%;
    padding:5px;
    border-radius: 5px;
    background-color: var(--darkgreen);
}
/* make it obvious that the image is a link with a box-shadow effect */
.project-portfolio a :hover{
   box-shadow:2px 2px 2px 2px var(--darkgreen);
    
}
  
.project-portfolio button {
    display: block;
    margin: auto;
    font-size: .7rem;
    padding :3px;
}
/*  makes it obvious that the image is a link with a box shadow effect*/
.project-portfolio button:hover{
    box-shadow: 0px 2px 2px #222;
}

#feature {
    flex-basis: 52%;
}
/* remove underline */


footer {
    font-family:var(--font);
    font-size: 1.1em;
    text-align: center;
    
}
footer button {
    font-size: 1.1em;
}

/* set media query for mobile users so that the images  stack in a column and 
the nav bar is moved to the side for easier thumb access */
@media screen and (max-width:768px) {
    .nav-bar {
        flex-direction: column;
        height: 100%;
        width: 21%;
        justify-content: space-evenly;
        align-items: center;
    }

    .container {
        margin-left: 21%;
    }
    .project-portfolio ul {
        flex-direction: column;
    }
    .project-portfolio li {
        width:65%;
        margin:auto;
    }
    #feature {
        width: 85%;
    }
    
}

@media screen and (min-width:769px) {
    .nav-bar_button {
        font-size: 1.8rem;
    }

    /* set the target scroll point so that nav bar doesnt cover corresponding sections */
     :target {
        padding-top: 8rem;
        
    } 
}