*{
    box-sizing: border-box; 
    padding:0;
    margin: 0;

}
header {
    position:fixed; 
    width:100%;
    background-color:rgb(141, 28, 28);
    text-align: center;  
    z-index: 99;    
}
.container{
    position: relative;
    bottom:-114px;
}
/* footer needs to display at bottom of page */
footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: size 1.5em;
    text-align: center;
}
.nav-bar{
    display:flex;
    justify-content: space-evenly;
}
.nav-bar li{
    display: inline;
    font-size:2em;
    margin: 20px; 
}

ul {
    list-style-type: none;
}
.project-portfolio ul{
    display: flex;
    justify-content:center;
    flex-flow: wrap;
    
}
.project-portfolio li {
    padding: 10px;
    flex: 0 0 33%;
    text-align: center;
    border-style: solid;
    border-width: 1px;    
}

#feature {
    flex-basis: 75%;
    flex-shrink: 1;
}
a {
    text-decoration: none;
    color:black;    
}
.me {
    width: 75%;
    display:block;
    margin:auto;
    outline:none;
}
.flexbox-main_portfolio {
    flex:0 0 75%;
    align-items: center;
    display: flex;
    flex-flow: column;
}
#about-me {
    width:75%;
    align-items: center;
    justify-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif  
}

footer {
    
}
/* make a card class for projects, size them, make them flex wrap. 
set media query for mobile users so that they stack in a column */